.red{
    background-color: red;
}


.green{
    background-color: green;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    border: 2px blue solid;
    
    .box{

        
    }
}